  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 50 100% 50%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 65.7% 74.5%;
      --primary-foreground: 0 0% 98%;
      --secondary: 48 96% 89%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 65.7% 74.5%;
      --radius: 1rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .bone-button {
    @apply relative px-8 py-3 text-lg font-bold text-black transition-all duration-300 before:absolute before:inset-0 before:rounded-full before:bg-[#f4d03f] before:transform before:transition-transform before:duration-300 hover:before:scale-105 hover:scale-105;
  }

  .bone-button span {
    @apply relative z-10;
  }